*.h5 filter=lfs diff=lfs merge=lfs -text
notebooks/resnet-18-130-epochs-early-stopping-with-regularization-class-balanced-resnet-18.h5 filter=lfs diff=lfs merge=lfs -text
notebooks/vit-small-130-epochs-early-stopping-with-regularization-class-balanced-vit-small.h5 filter=lfs diff=lfs merge=lfs -text
notebooks/cnn-5-layer-130-epochs-early-stopping-with-regularization-class-balanced-cnn-5-layer.h5 filter=lfs diff=lfs merge=lfs -text
